/** {
    background: #ABA7A7;
}*/

.navbar {
    border-radius: 3%;
    margin-bottom: 0;
}

.navbar-nav li a {
    margin-right: 10px;
    
}

/*#navLogo {
    padding-bottom: 5px;
}*/

.page-header {
    width: 100%;
    height: 100vh;
    text-align: ;
    padding-top: 0.1%;
    background: #E7DFDD;
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.5%;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.row {
    margin: 10px;
}

.jumbotron {
    height: 100vh;
    background: #111116;
    margin-bottom: 0;
}

.input-group {
    width: 30%;
    margin-left: ;
    padding-bottom: 5px;
}

h2 {
    margin-top: 0;
    margin-left: 1.5%;
    color: #9d9d9d;

}

#btn3 {
    margin-left: 46.5%;
}

footer {
    background: white;
    color: #9d9d9d;
    margin: none;
    /*width: 100%;*/
    text-align: center;
    padding: 0.5em;
}

.ib {
    display: inline-block;
    margin-right: 4%;
}

/* Buttons */
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}